
@media screen and (max-width:1700px){
	
}

@media screen and (max-width:1600px){
	div.add-book-box.responsive{min-width:40%; margin-left:33%;}
	
	div.titleFields.responsive{min-width:85%;}
	input#titleTextAdd.responsive{min-width:75%;margin-left:0.6em;}
	
	div.authorFields.responsive{min-width:85%;}
	input#authorTextAdd.responsive{min-width:75%;margin-left:0.6em;}
	
	div.publisherFields.responsive{min-width:85%; }
	input#publisherTextAdd.responsive{min-width:74%;}
}

@media screen and (max-width:1520px){
	div.add-book-box.responsive{min-width:45%; margin-left:33%;}

}

@media screen and (max-width:1380px){
	div.add-book-box.responsive{min-width:48%; margin-left:30%;}
}

@media screen and (max-width:1300px){
	 div.add-book-box.responsive{min-width:50%; margin-left:30%;}
}


@media screen and (max-width:1220px){
	 div.add-book-box.responsive{min-width:54%; margin-left:25%;}
}

@media screen and (max-width:1120px){
	 div.add-book-box.responsive{min-width:60%; margin-left:22%;}
}

@media screen and (max-width:1040px){
	 div.add-book-box.responsive{min-width:62%; margin-left:22%;}
}

@media screen and (max-width:980px){
	 div.add-book-box.responsive{min-width:70%; margin-left:20%;}
}

@media screen and (max-width:880px){
	 div.add-book-box.responsive{min-width:85%; margin-left:10%;}
}

@media screen and (max-width:720px){
	 div.add-book-box.responsive{min-width:92%; margin-left:5%;}
}

@media screen and (max-width:650px){
 div.add-book-box.responsive{min-width:98%; margin-left:1%;}
 	div.titleFields.responsive{min-width:100%;}
	input#titleTextAdd.responsive{min-width:75%;margin-left:0.6em;}
	
	div.authorFields.responsive{min-width:100%;}
	input#authorTextAdd.responsive{min-width:75%;margin-left:0.6em;}
	
	div.publisherFields.responsive{min-width:100%; }
	input#publisherTextAdd.responsive{min-width:74%;}

	div.languageSelection.responsive{
		min-width:95%;
	}
	div.categorySelection.responsive{
		min-width:95%;
	}
	
	div#genreSelection1.genreSelection1.responsive{
		min-width:95%;
	}
	
}

@media screen and (max-width:540px){
    div.add-book-box.responsive{min-width:97%; margin-left:0.5%;}
	input#publisherTextAdd.responsive{min-width:70%;}
	input#authorTextAdd.responsive{min-width:70.5%;margin-left:0.6em;}
	input#titleTextAdd.responsive{min-width:70.5%;margin-left:0.6em;}
	button#addBook.responsive{min-width:90%;}
}

@media screen and (max-width:480px){
	input#publisherText{min-width:70%; margin-bottom:1em;}
	input#publisherTextAdd.responsive{min-width:63%;}
	input#authorTextAdd.responsive{min-width:63.5%;margin-left:0.6em;}
	input#titleTextAdd.responsive{min-width:63.5%;margin-left:0.6em;}
	
	
	
}

@media screen and (max-width:420px){
	
	input#publisherTextAdd.responsive{min-width:75%; margin-left:0.1em; border-right:solid 1.5px #dcdcdc; border-radius:7px 7px 7px 7px;}
	input#authorTextAdd.responsive{min-width:75%;margin-left:0.1em; border-right: solid 1.5px #dcdcdc; border-radius:7px 7px 7px 7px;}
	input#titleTextAdd.responsive{min-width:75%;margin-left:0.1em; border-right: solid 1.5px #dcdcdc; border-radius:7px 7px 7px 7px;}
	
      .glyphicon-pencil{display:none;}
	  .glyphicon-book{display:none;}
	  .glyphicon-barcode{display:none;}


	
}

@media screen and (max-width:370px){
	input#authorText{min-width:69%; margin-bottom:1em;}
	input#publisherText{min-width:64%; margin-bottom:1em;}
}

@media screen and (max-width:350px){
	input#titleText{min-width:73%; margin-bottom:1em; border-radius:7px 7px 7px 7px; border-right: solid 1.5px #dcdcdc;}
	input#authorText{min-width:68%; margin-bottom:1em; border-radius:7px 7px 7px 7px; border-right: solid 1.5px #dcdcdc;}

	input#publisherTextAdd.responsive{min-width:65%;}
	input#authorTextAdd.responsive{min-width:65.5%;margin-left:0.6em;}
	input#titleTextAdd.responsive{min-width:65.5%;margin-left:0.6em;}
}

 .iconspanAddBook {
    margin-right: 2em;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 0.6em;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

div.titleFields{
	width:85%;
	margin-bottom:0.5em;
	display:inline-block;
	margin-left: 1.6em;
}

div.publisherFields{
	min-width:85%;
	margin-bottom:0.5em;
	display:inline-block;
	margin-left: 0;
	
}

.authorFields{
	width:85%;
	margin-bottom:0.5em;
	display:inline-block;
	margin-left: 0.5em;

}
input#titleTextAdd{
	min-width:75%;
	margin-left:0.6em;
}

input#authorTextAdd{
	min-width:75%;
	margin-left:0.6em;
}

input#publisherTextAdd{
	min-width:75%;
}

#tags{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
  width: 75%;
}

button#addBook{
	min-width:75%;
	margin-left:5%;
}

div.tagSearches{
	margin-left:5%;
	min-width:100%;
	display:inline-block;
}


input#genre{

}

select#genreSelect{
	float:right;
	width:80%;
}

div#genreSelection1.genreSelection1{
	min-width:70%;
	margin-left:0;
	margin-bottom:1em;
	float:left;
	margin-right:30%;
}


div.categorySelection{ 
	min-width:70%;
	margin-left:0;
	margin-bottom:1em;
	float:left;
	margin-right:30%;
}

select#categorySelect{
	float:right;
	width:80%;
}

div.languageSelection{
	min-width:70%;
	margin-left:0;
	margin-bottom:1em;
	float:left;
}

select#languageSelect{
	float:right;
	width:80%;
}

div.add-book-box{
	width: 40%;
	padding: 1em;
	margin-left: 37%;
	margin-bottom:2em;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;

}


.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
 
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.uploadLabel{
	font-size: 11px !important;
	background-color: white !important;
	font-weight: normal;
	padding:5px;
	font-style: normal !important;
	color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #b3b3b3;
	box-shadow: -5px -5px- 5px -5px #b3b3b3 inset !important;
	text-shadow: 1px 1px #a8a8a8;
}

.fileUploaderSection{
	
	margin-left:2em;
}
