.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
 
}

.inputfile + label {
	cursor: pointer; /* "hand" cursor */
}

.uploadLabel{
	font-size: 11px !important;
	background-color: white !important;
	font-weight: normal;
	padding:5px;
	font-style: normal !important;
	color: black;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #b3b3b3;
	box-shadow: -5px -5px- 5px -5px #b3b3b3 inset !important;
	text-shadow: 1px 1px #a8a8a8;
}

.fileUploaderSection{
	
	margin-left:2em;
}