
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative; padding:0;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

*{
    line-height: large !important;
}

/* Remove margins and padding from the list, and add a black background color */


/* Float the list items side by side */
ul.topnav li {float: left; color: black; width:20%; display:inline-block;}
/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.topnav.responsive {position: relative; padding:0;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;

  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

ul.topnav {
    list-style-type: none;
    margin: 0;
	margin-left:-2%;
	margin-right:-2%;
	margin-top: -1%;
	color: black !important;
    padding-left: 25%;
    overflow: hidden;
	background: linear-gradient(top, #efefef 0%, #bbbbbb 100%);  
	background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); 
	background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); 	
	box-shadow: 2px 2px 4px  5px #888888;
}

/* Float the list items side by side */
ul.topnav li {float: left; color: black; width:15%;}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: black;
	text-shadow: 1px 1px #a8a8a8;
    text-align: center;
    padding: 14px 16px;
	width:100%;
    text-decoration: none;
    transition: 0.3s;
    font-size: 12px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
	background-color: white ;
    background-image:url(../images/arrow-right.gif);
	background-repeat: no-repeat;
	 color: black;
	border-left: 0.5px solid #c3c3c3;
	background-position: center left;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

*{
    box-sizing: border-box;
}

@media screen and (min-width: 480px) {
    body {
        background-color: lightgreen;
    }
}

.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #0F13F5;
	background-color: #f2dede;
	border-color: #ebccd1;
}


#tags{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
  width: 400px;
}



#tags span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}

#tags span:hover{
  opacity:0.7;
}

#tags span:after{
 position:absolute;
 content:"×";
 border:1px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:11px;
}

#tags input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width: 300px;
}

.ui-dialog-buttonset{
	background-image: url("../images/dialogbg.jpg");
	border-radius: 0px 0px 10px 10px;
	background-color: #696969;
}

.dialogStyles{
		border-radius: 10px 10px 0px 0px;
		color: white;
		background-color: black;
		background-image: url("../images/dialogbg.jpg") !important;
}

.docsSearchSegment{
	border-top: 1px dotted #e9e9e9;
	border-bottom: 1px dotted #e9e9e9;
	border-right: 0px dotted;
	border-left: 0px dotted;
	min-height:100px;
	max-height:100px;
	margin:10px !important;
	padding:5px !important;
	overflow:hidden !important;
	display: block;
	width: 652px;
	text-overflow: ellipsis !important;
	white-space: normal;
}


.container {
    z-index: 2;
    position: absolute;
}

.tagSearches{
	font-style: italic ;
}

option { 
    /* Whatever color  you want */
    background-color: white;
	color: gray !important;
}


select {
   height: 34px;
   background: white;
   width: 240px;
   height: 29px;
   overflow: hidden;
   width: 240px;
   border-radius: 8px;
}


<!-- button:focus {outline:0; border-radius: 7px;} -->

#reviews {
 	font-style: italic;
}

.bxslider li{
	max-height: auto !important; 
	width: 520px !important;
	position:relative;
	padding-left:10px;
}

.bxslider2 li{
	max-height: auto !important; 
	width: 520px !important;
	position:relative;
	padding-left:10px;
}


#theI_Frame {
  height: 800px;
  width: 100%;
  resize: none;
  margin-top: 2em;
  overflow-x: scroll;
  overflow-y: hidden !important;
}


.ui-dialog-title{
	margin-left: 24px !important;
}

.ui-widget-header,.ui-state-default, ui-button{
		background: #c3c3c3;
		border: 1px solid #c3c3c3;
		color: black;
		font-weight: normal;
		text-shadow: 1px 1px 1px #a8a8a8 !important;
       border-radius: 10px 10px 0px 0px;
	 }
	 
 .ui-dialog{
	background-color:#ebebeb !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border: 1px solid #c3c3c3;
	font-weight: normal;
	text-shadow: 0.5px 0.5px #a8a8a8;
	border-radius: 10px;

 }

 
input[type="submit"]:disabled {
	background-color: #fafafa;
	color:#696969;
}

input[type="button"]:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

input[type="button"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="button"]:hover {
	background-color: #17acdb;
}

input[type="submit"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="submit"]:hover {
	background-color: #17acdb;

}

input[type="submit"]{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

input[type="button"]{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

button{
	padding: 10px 15px 11px;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	font-style: normal !important;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

.dialogButton{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #848484 !important;
	font-weight: normal;
	font-style: normal !important;
	color: #f1f1ff;
	border-radius: 0px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #b3b3b3 !important;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #b3b3b3 inset !important;
	text-shadow: 1px 1px #a8a8a8;
}

.dialogButton:hover {
	background-color: #939393 !important;
}


button:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}

button:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

button:hover {
	background-color: #17acdb;
}

.resetSearch{
  background-color:#a3a3cc !important;
}

.resetSearch:hover {
	background-color: #8e8eb2 !important;
}

.myUserIcon{
	content: date-circle.png
}

input[type="password"]{
    border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
 border-radius: 7px 0px 0px 7px;
}



input[type="text"]{
  border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}

.usernameInput {
  padding: 5px;
  border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px;
}


 .iconspan {
    float: right;
    margin-right: 43px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 6px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan2{
	 float: center;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan3{
	 float: right;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan4{
	 float: right;
    margin-right: 282px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan5{
	 float: right;
    margin-right: 14px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding-top: 100px;
	padding-left: 8px;
	padding-right: 8px;
	height: 213px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}



textarea{
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}


 input[type="text"]:focus,
 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

h3{
	text-shadow: 1.5px 1.5px #a8a8a8;
}

h4{
	text-shadow: 1px 1px #a8a8a8;
}

table, th, td {
	padding: 5px;
	text-shadow: 0.5px 0.5px #a8a8a8;
}

tr:nth-child(odd)		{ background-color:#f1f1f1; }
tr:nth-child(even)		{ background-color:#e9e9e9; }


#signup-box {
	width: 523px;
	padding: 10px;
	margin: 20px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}

#all-search-box{
	width: 90% !important;
	padding: 20px;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}

#resultsSection{
	visibility:hidden;
	width: 40%;
	padding: 2.5em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin-left: 33%;
	background: #fff;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}

#add-book-box{
	
	width: 425px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}


.ajax-loader-2{
	width: 3em;
	height: 3em;
	background-image:url(../images/ajax-loader-2.gif)}

#add-reviews-box{
	
	width: 766px !important;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

#reviews-box {
	min-width: 50%;
	max-width: 50%;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}


  /* ToolTip CSS classses */ 
.tooltip {
display: inline-block;    
}

.facebookFooter{
	margin-left:550px;
}



.row::after {
    content: "";
    clear: both;
    display: block;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.error {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	color: #0F13F5;
	background-color: #f2dede;
	border-color: #ebccd1;
}


#tags{
  float:left;
  border:1px solid #ccc;
  padding:5px;
  font-family:Arial;
  width: 400px;
}

#tags span{
  cursor:pointer;
  display:block;
  float:left;
  color:#fff;
  background:#789;
  padding:5px;
  padding-right:25px;
  margin:4px;
}

#tags span:hover{
  opacity:0.7;
}

#tags span:after{
 position:absolute;
 content:"×";
 border:1px solid;
 padding:2px 5px;
 margin-left:3px;
 font-size:11px;
}

#tags input{
  background:#eee;
  border:0;
  margin:4px;
  padding:7px;
  width: 300px;
}

.ui-dialog-buttonset{
	background-image: url("../images/dialogbg.jpg");
	border-radius: 0px 0px 10px 10px;
	background-color: #696969;
}

.dialogStyles{
		border-radius: 10px 10px 0px 0px;
		color: white;
		background-color: black;
		background-image: url("../images/dialogbg.jpg") !important;
}

.docsSearchSegment{
	border-top: 1px dotted #e9e9e9;
	border-bottom: 1px dotted #e9e9e9;
	border-right: 0px dotted;
	border-left: 0px dotted;
	min-height:100px;
	max-height:100px;
	margin:10px !important;
	padding:5px !important;
	overflow:hidden !important;
	display: block;
	width: 652px;
	text-overflow: ellipsis !important;
	white-space: normal;
}


.container {
    z-index: 2;
    position: absolute;
}

.tagSearches{
	font-style: italic ;
}

option { 
    /* Whatever color  you want */
    background-color: white;
	color: gray !important;
}



select {
   height: 34px;
   background: white;
   width: 240px;
   height: 29px;
   overflow: hidden;
   width: 240px;
   border-radius: 8px;
}


<!-- button:focus {outline:0; border-radius: 7px;} -->

#reviews {
 	font-style: italic;
}


.bxslider li{
	max-height: auto !important; 
	width: 520px !important;
	position:relative;
	padding-left:10px;
}

.bxslider2 li{
	max-height: auto !important; 
	width: 520px !important;
	position:relative;
	padding-left:10px;
}






.ui-dialog-title{
	margin-left: 24px !important;
}

.ui-widget-header,.ui-state-default, ui-button{
		background: #c3c3c3;
		border: 1px solid #c3c3c3;
		color: black;
		font-weight: normal;
		text-shadow: 1px 1px 1px #a8a8a8 !important;
       border-radius: 10px 10px 0px 0px;
	 }
	 
 .ui-dialog{
	background-color:#ebebeb !important;
	box-shadow: 10px 10px 5px #888888 !important;
	border: 1px solid #c3c3c3;
	font-weight: normal;
	text-shadow: 0.5px 0.5px #a8a8a8;
	border-radius: 10px;

 }

 
input[type="submit"]:disabled {
	background-color: #fafafa;
	color:#696969;
}

input[type="button"]:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

input[type="button"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="button"]:hover {
	background-color: #17acdb;
}

input[type="submit"]:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}


input[type="submit"]:hover {
	background-color: #17acdb;

}

input[type="submit"]{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

input[type="button"]{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

button{
	padding: 10px 15px 11px;
	font-size: 14px !important;
	background-color: #3bbde5;
	font-weight: normal;
	font-style: normal !important;
	color: #f1f1ff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #3232ff;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #3838cc inset;
	text-shadow: 1px 1px #a8a8a8;
}

.dialogButton{
	padding: 10px 15px 11px !important;
	font-size: 14px !important;
	background-color: #848484 !important;
	font-weight: normal;
	font-style: normal !important;
	color: #f1f1ff;
	border-radius: 0px !important;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 0px solid #b3b3b3 !important;
	cursor: pointer;
	box-shadow: -5px -5px- 5px -5px #b3b3b3 inset !important;
	text-shadow: 1px 1px #a8a8a8;
}

.dialogButton:hover {
	background-color: #939393 !important;
}


button:disabled:hover {
	background-color: #fafafa;
	color:#696969;
}

button:disabled {
	background-color: #fafafa;
	color:#696969;
	box-shadow: -2px -2px 2px 2px #888888 inset;
}

button:hover {
	background-color: #17acdb;
}

.resetSearch{
  background-color:#a3a3cc !important;
}

.resetSearch:hover {
	background-color: #8e8eb2 !important;
}

.myUserIcon{
	content: date-circle.png
}

input[type="password"]{
  padding: 5px;
    border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
 border-radius: 7px 0px 0px 7px;
}

input[type="text"]{
  padding: 5px;
  border-right: none !important;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}




 .iconspan {
    float: right;
    margin-right: 43px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 6px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan2{
	 float: center;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan3{
	 float: right;
    margin-right: 7px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan4{
	 float: right;
    margin-right: 282px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

.iconspan5{
	 float: right;
    margin-right: 14px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding-top: 100px;
	padding-left: 8px;
	padding-right: 8px;
	height: 213px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}



textarea{
  padding: 5px;
  border: solid 1.5px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
  border-radius: 7px 0px 0px 7px ;
}


 input[type="text"]:focus,
 input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}

h3{
	text-shadow: 1.5px 1.5px #a8a8a8;
}

h4{
	text-shadow: 1px 1px #a8a8a8;
}

table, th, td {
	padding: 5px;
	text-shadow: 0.5px 0.5px #a8a8a8;
}

tr:nth-child(odd)		{ background-color:#f1f1f1; }
tr:nth-child(even)		{ background-color:#e9e9e9; }
tr:nth-child(even)		{ background-color:#e9e9e9; }



#signup-box {
	width: 523px;
	padding: 10px;
	margin: 20px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

.stop-scrolling {
  height: 100%;
  overflow: hidden;
}



div.search-box.hide {
    display: none;
}


  /* ToolTip CSS classses */ 
.tooltip {
display: inline-block;    
}

.facebookFooter{
	margin-left: 40%;
}


.tooltip .tooltiptext {
    margin-left:9px;
    width : 320px;
    visibility: hidden;
    background-color: #FFF;
    border-radius:4px;
    border: 1px solid #aeaeae;
    position: absolute;
    z-index: 1;
    padding: 5px;
    margin-top : -15px; /* according to application */ 
    opacity: 0;
    transition: opacity 1s;
}
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    top: 5%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #aeaeae transparent transparent;
}


.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}