
@media screen and (max-width:850px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:700px; margin-left:1%;}
	 textarea#reviewText.responsive{max-width:450px;}
	 input#bookTitleReview.responsive{max-width:450px;}
	 input#bookAuthorReview.responsive{max-width:450px;}
	 .iconspanReview.responsive{margin-right: 20px;}
	 button#addReview.responsive{max-width:450px;}
	 div#resultsSectionReview.resultsSection.responsive{max-width:700px; margin-left:1%;}	
}

@media screen and (max-width:750px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:680px; margin-left:1%;}
     div#resultsSectionReview.resultsSection.responsive{max-width:680px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:420px;}
	  input#bookTitleReview.responsive{max-width:420px;}
	 input#bookAuthorReview.responsive{max-width:420px;}
	 .iconspanReview.responsive{margin-right: 30px;}
	 button#addReview.responsive{max-width:420px;}
 
}

@media screen and (max-width:720px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:640px; margin-left:1%;}
	div#resultsSectionReview.resultsSection.responsive{max-width:640px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:400px;}
	  input#bookTitleReview.responsive{max-width:400px;}
	 input#bookAuthorReview.responsive{max-width:400px;}
	 .iconspanReview.responsive{margin-right: 10px;}
	 button#addReview.responsive{max-width:400px;}
 
}


@media screen and (max-width:670px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:550px; margin-left:1%;}
	 div#resultsSectionReview.resultsSection.responsive{max-width:550px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:310px;}
	  input#bookTitleReview.responsive{max-width:310px;}
	 input#bookAuthorReview.responsive{max-width:310px;}
	 .iconspanReview.responsive{margin-right: 86px;}
	 button#addReview.responsive{max-width:310px;}
	.dummyTD{display:none;}
}

@media screen and (max-width:580px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:490px; margin-left:1%;  padding:10px;}
     div#resultsSectionReview.resultsSection.responsive{max-width:490px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:280px;}
	  input#bookTitleReview.responsive{max-width:280px;}
	 input#bookAuthorReview.responsive{max-width:280px;}
	 .iconspanReview.responsive{margin-right:77px;}
	 button#addReview.responsive{max-width:280px;}
 
}

@media screen and (max-width:530px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:450px; margin-left:1%; padding:10px;}
	 div#resultsSectionReview.resultsSection.responsive{max-width:450px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:240px;}
	  input#bookTitleReview.responsive{max-width:240px;}
	 input#bookAuthorReview.responsive{max-width:240px;}
	 .iconspanReview.responsive{margin-right: 77px;}
	 button#addReview.responsive{max-width:240px;}
 
}

@media screen and (max-width:480px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:380px; margin-left:1%; padding:10px;}
	 div#resultsSectionReview.resultsSection.responsive{max-width:380px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:240px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	  input#bookTitleReview.responsive{max-width:240px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	 input#bookAuthorReview.responsive{max-width:240px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	 .iconspanReview.responsive{margin-right: 1px;}
	 button#addReview.responsive{max-width:240px;}
       .glyphicon-pencil{display:none;}
	  .glyphicon-book{display:none;}
	  .glyphicon-comment{display:none;}
}

@media screen and (max-width:405px){
	 div#add-reviews-box.add-reviews-box.responsive{max-width:325px; margin-left:1%; padding:10px;}
     div#resultsSectionReview.resultsSection.responsive{max-width:325px; margin-left:1%;}	
	 textarea#reviewText.responsive{max-width:190px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	  input#bookTitleReview.responsive{max-width:190px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	 input#bookAuthorReview.responsive{max-width:190px; #dcdcdc; border-radius:7px 7px 7px 7px;}
	 .iconspanReview.responsive{margin-right: 1px;}
	 button#addReview.responsive{max-width:190px;}
       .glyphicon-pencil{display:none;}
	  .glyphicon-book{display:none;}
	  .glyphicon-comment{display:none;}
}


#add-reviews-box{
	width: 766px;
	padding: 20px;
	margin: 40px auto;
	background: #fff;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	border-radius: 10px 10px 10px 10px;
	box-shadow: 10px 10px 5px #888888;
}

button#addReview{
	width:523px;

}

.iconspanTitleAuth{
	
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding: 8px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}



.iconspanReview{
	 float: right;
    margin-right: 14px;
    margin-top: -1px;
    position: relative;
	background-color: #A2C5D0;
    color: #3D3C3A;
	border: solid 1.5px #dcdcdc;
	padding-top: 100px;
	padding-left: 8px;
	padding-right: 8px;
	height: 213px;
	border-left: none;
	border-radius: 0px 7px 7px 0px;
}

#resultsSectionReview{
	visibility:hidden;
	width: 766px;
	padding: 2.5em;
	margin-top: 3em;
	margin-bottom: 3em;
	margin: 40px auto;
	background: #fff;
	background-color: white;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}

