


@media screen and (max-width:1400px){
	div.search-box.responsive {position: relative; padding:0; margin:1em; width:70%;}
	 div.frameContainer.responsive{position: relative; padding:0; margin:1em; width:100%;}
}

@media screen and (max-width:980px){
 div.search-box.responsive {position: relative; padding:0; margin:1em; width:80%;}
  div.frameContainer.responsive{position: relative; padding:0; margin:0; width:auto;}
}


@media screen and (max-width:720px){
 div.search-box.responsive {position: relative; padding:0; margin:1em; width:90%;}
 div.frameContainer.responsive{position: relative; padding:0; margin:0; width:auto;}

}



@media screen and (max-width:580px){
	 button.loginButton.responsive{margin-left:2em; width:80%;}
}

@media screen and (max-width:420px){
	 button.loginButton.responsive{margin-left:1em; width:93%;}
}