@media screen and (max-width:1400px){
	input#searchText.responsive{max-width:75%;}
}

@media screen and (max-width:1100px){
	input#searchText.responsive{max-width:72%;}
}

@media screen and (max-width:980px){
	input#searchText.responsive{max-width:70%;}
}

@media screen and (max-width:920px){
	input#searchText.responsive{max-width:67%;}
}

@media screen and (max-width:850px){
	input#searchText.responsive{max-width:62%;}
}

@media screen and (max-width:740px){
	input#searchText.responsive{max-width:80%; border-right: solid 1.5px #dcdcdc; border-radius: 0px 7px 7px 0px; }	
	button#searchAllBtn.responsive{min-width:90%; border-radius: 7px 7px 7px 7px; margin-top:1em;}	
}

@media screen and (max-width:540px){
	input#searchText.responsive{max-width:75%; border-right: solid 1.5px #dcdcdc; border-radius: 0px 7px 7px 0px; }	
	button#searchAllBtn.responsive{min-width:80%; border-radius: 7px 7px 7px 7px; margin-top:1em;}	
}

@media screen and (max-width:400px){
	input#searchText.responsive{max-width:65%; border-right: solid 1.5px #dcdcdc; border-radius: 0px 7px 7px 0px; }	
	button#searchAllBtn.responsive{min-width:70%; border-radius: 7px 7px 7px 7px; margin-top:1em;}	
}

#searchText{
	width:85%; 
	border-radius: 0px; 
	margin-left: -4px;
}

#searchAllBtn{
	margin-left: -4px; 
	background-color: #A2C5D0; 
	padding-top: 6px; 
	padding-bottom: 11px; 
    color: #3D3C3A; 
	border-radius: 0px 7px 7px 0px;
}

#all-search-box{
	width: 90% !important;
	padding: 20px;
	background: #fff;
	margin-left:5%;
	background-color: #ededed;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #000;
	box-shadow: 10px 10px 5px #888888;
	border-radius: 10px 10px 10px 10px;
}
